<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.Data.Desktop" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.Drawing" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.Office.Core" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.Pdf.Core" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.Pdf.Drawing" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.PivotGrid.Core" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.Printing.Core" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.RichEdit.Core" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.RichEdit.Export" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.Sparkline.Core" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.Utils" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.Win" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.Win.Grid" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.Win.Navigation" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.Win.PivotGrid" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.Win.Printing" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.Win.TreeList" version="22.2.3" targetFramework="net481" />
  <package id="DevExpress.Win.VerticalGrid" version="22.2.3" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Net.Http.Json" version="7.0.0" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="7.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>